//
// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
}


@import "partials/utilities";

@import "partials/home";

@import "partials/header";

@import "partials/main";

@import "partials/comic-card";
