#main-top-row {
    background-color: black;
    color: white;
    position: relative;
}

#main-middle-row {
    background-color: darkblue;
}


#overlay-jumbotron {
    position: absolute;
    top: -1rem;
    left: 2.5rem;
    background-color: blue;
    padding: 0.5rem 1.5rem;
}
